* {
    padding: 0px;
    border: 0px;
    margin: 0px;
}

body {
    background-image: linear-gradient(bottom, rgb(37,9,115) 40%, rgb(101,160,176) 0%);
    background-image: -o-linear-gradient(bottom, rgb(37,9,115) 40%, rgb(101,160,176) 0%);
    background-image: -moz-linear-gradient(rgb(37,9,115), rgb(101,160,176));
    background-image: -webkit-linear-gradient(bottom, rgb(37,9,115) 40%, rgb(101,160,176) 0%);
    background-image: -ms-linear-gradient(bottom, rgb(37,9,115) 40%, rgb(101,160,176) 0%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.4, rgb(37,9,115)),
        color-stop(0, rgb(101,160,176))
    );
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


ul.topnav li {float: left;}


ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}


ul.topnav li a:hover {background-color: #555;}


ul.topnav li.active a {background-color: #555;}
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}


@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
p.instrucciones{
    font-size: 40px;
}
div.win {
    height: 100%;
    display: flex;
    color: #ff7700;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    flex-direction: column;
}